{% extends "base.html" %}

{% block main %}
  <div class="login-form center-block" id="LoginBody">
    <h2>Log In Here!</h2>
    {% include 'flash_messages.html' %}
    <div class="card" id="LoginCard">
      <form action="{{ url_for('login') }}" method="post">
        {{ form.csrf_token }}
        <div class="form-group">
          {{ form.username.label }} <span>(Required)</span>
          {{ form.username(class='form-control') }}
        </div>
        <div class="form-group">
          {{ form.password.label }} <span>(Required)</span>
          {{ form.password(class='form-control') }}
        </div>
        <div class="LoginButton">
          <button type="submit" name="submit" class="btn btn-primary">Log in</button>
        </div>
      </form>
    </div>  
  </div>
{% endblock %}
